<% if user_signed_in? %>
<div class="page-header">
  <%= link_to articles_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_article_path(@article), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show article</h1>
</div>

<dl class="dl-horizontal">
  <dt>User:</dt>
  <dd><%= @article.user %></dd>

  <dt>Title:</dt>
  <dd><%= @article.title %></dd>

  <dt>Content:</dt>
  <dd><%= @article.content %></dd>

</dl>
<% else %>
<br>
<br>
<br>
<br>
<h2>Welcome , to see content of this website you must be <%= link_to 'registered', new_user_registration_path %></h2>
<%= link_to 'Create account', new_user_registration_path %>

<% end %>
